#divPrinc{
    border: 2px solid black;
    margin-right: -2px;
    margin-left: -2px;
    border-radius: 5px;
    
    #descricao {
        font-size: 13px;
    }
    
    #btn {
        background-color: #652A0E;
        padding: 5px;
        margin-left: -5px;
        margin-right: -5px;
        font-size: 15px;
        position: relative;
        left: 6px;
        padding-right: 10px;
        padding-left: 10px;
        border: none;
    }

    #btn:active {
        background-color: #53230d;
    }
}