.customNavbar {
    background-color: #652A0E;
}

.titleNav {
    display: flex;
    color: #FEFBEA;
    transition: 0.3s ease-in-out;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    img {
        width: 45px;
        height: 45px;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    p {
        margin-top: 8px;
    }
}

.titleNav:hover {
    color: #FEFBEA;
    border-bottom: 2px solid #FEFBEA;
}

#botaoMenu {
    color: #FEFBEA;
}

.links {
    color: #FEFBEA;
    transition: 0.3s ease-in-out;
    padding-bottom: 0.5px;
    border-bottom: 2px solid transparent;
}

.links:hover {
    color: #FEFBEA;
    border-bottom: 2px solid #FEFBEA;
}